/*  */
.home {
  min-height: 800px;
}

.name-wrapper {
  margin: 5em 0;
}

.home-name {
  text-align: center;
  font-family: "Playfair Display SC", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 11em;
}

.home-brief {
  display: flex;
  justify-content: space-between;
  margin: 0 210px;
  align-items: center;
  font-size: 3em;
}

.image-wrapper {
  text-align: center;
}

/*  */

@keyframes move {
  from {
    transform: translate(0vw, 0vh) rotate(-90deg);
    border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
  }

  to {
    transform: translate(70vw, 50vh) rotate(-10deg);
    border-radius: 76% 24% 33% 67% / 68% 55% 45% 32%;
  }
}

@keyframes move2 {
  from {
    transform: translate(60vw, 0vh) rotate(10deg);
    border-radius: 76% 24% 33% 67% / 68% 55% 45% 32%;
  }
  to {
    transform: translate(0vw, 0vh) rotate(50deg);
    border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
  }
}

.blob-first,
.blob-second {
  position: absolute;
  width: 500px;
  height: 500px;
  background-blend-mode: normal,normal,normal,normal,normal,normal; 
  filter: blur(45px);
  z-index: -1;
}

.blob-first {
  transition: 0.05s linear;
  animation: move 25s infinite alternate;
  background: linear-gradient(180deg, #EF516D 0%, rgba(239, 81, 109, 0) 100%), radial-gradient(94.51% 124.88% at 94.32% 94.43%, 
  rgba(65, 244, 255, 0.78) 0%, rgba(131, 218, 255, 0.6552) 32.29%, rgba(99, 175, 240, 0.3978) 64.06%, rgba(43, 90, 211, 0) 100%), 
  linear-gradient(313.04deg, #341D65 0.93%, #604AEA 125.68%); 
}

.blob-second {
  transition: 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  animation: move2 25s infinite alternate;
  background: radial-gradient(73.4% 100.98% at 95.54% 95.05%, rgba(255, 156, 65, 0.78) 0%, 
  rgba(255, 168, 88, 0) 100%), linear-gradient(197.37deg, #FFF0A4 -0.38%, 
  rgba(255, 240, 164, 0) 101.89%), radial-gradient(58.85% 73.83% at 9.82% 3.13%, 
  rgba(49, 132, 255, 0.8) 0%, rgba(56, 75, 247, 0.208) 52.16%, rgba(62, 246, 246, 0) 100%), 
  linear-gradient(117.39deg, #3E9EF6 3.91%, rgba(238, 43, 183, 0.33) 37.48%, 
  rgba(246, 62, 106, 0) 73.98%), linear-gradient(306.53deg, #FFAADD 19.83%, rgba(255, 170, 221, 0) 97.33%); 
}

/*  */


* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  /* background: black; */
  /* font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.00938em;
  font-style: normal; */
  /* letter-spacing: 0.01em; */
}

/* common section title */
h1 {
  font-size: 3em;
  padding-bottom: 30px;
}

/* navigation */
.navigation-bar {
  background-color: white !important;
}

.home-section {
  /* 여기에 뒷배경 들어감 */
  display: flex;
  min-height: 700px;
  align-items: center;
  padding: 0 15%;
  gap: 30px;
}

.home-image {
  /* width: 150px;
  height: 150px; */
  width: 200px;
  height: 200px;
  background-color: white;
  border-radius: 50%;
  justify-content: space-between;
}

.home-section .content h1 {
  font-size: 4em !important;
  margin-block-end: 0 !important;
  margin-block-start: 0 !important;
  padding: 10px 0;
}

.home-section .content .social-icon {
  display: flex;
}

.home-section .content p {
  font-size: 1.7em;
  margin-block-end: 0;
  margin-block-start: 0;
}

@media screen {
  @media (max-width: 694px) {
    .home-section {
      display: block;
      padding-top: 10%;
      min-height: 450px;
    }
  }

  @media (max-width: 768px) {
    .home-section {
      /* display: block; */
    }
  }

  @media (max-width: 948px) {
    .home-section .content h1 {
      font-size: 2.5em !important;
      padding-bottom: 0 !important;
    }
  }
}

/* ============ stack section css ============ */
.stack-section {
  padding: 10%;
  background-color:#FFF0A4;
}

/* ============ stack card css ============ */
@media screen {
  @media (max-width: 694px) {
    .stack-container {
      flex-direction: column;
    }
  }
}

.stack-container {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: space-between;
}

.stack-wrapper {
  flex: 1 1 30%;
}

.stack-icon {
  padding-bottom: 20px;
}

.stack-title {
  font-size: 1.5em;
  padding-bottom: 20px;
}

.stack-desc {
  font-size: 1em;
  padding-bottom: 20px;
}

.stack-list-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.stack-chip {
  margin: 0 5px 5px 0 !important;
  background-color: white !important;
  border-style: none !important;

  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */

  span {
    font-family: "Courier Prime", monospace;
    font-weight: 400;
    font-style: normal;
  }
}


/* ============ experience css ============ */
.experience-section {
  padding: 7% 10%;
}

/* timeline */
.experience-timeline {
  /* color: red; */
}


/* timeline card */


/* ============ proejct css ============ */
.project-section {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 7% 10%;
}

.project-container {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: repeat(2, 1fr)
  /* display: flex;
  flex-wrap: wrap;
  gap: 25px;
  padding-top: 5%; */
}

@media screen {
  @media (max-width: 1024px) {
    .project-container {
      display: block;
    }
  }
}

/* project card */
.project-wrapper {
  flex: 1 1 30%;
  padding-bottom: 20px;
}

.project-wrapper .project-thumb {
  width: 100%;
  padding-bottom: 20px;
  /* height: auto; */
}

.project-wrapper .project-title {
  font-size: 1.5em;
  padding-bottom: 20px;
}

.project-wrapper .project-desc {
  font-size: 1em;
  padding-bottom: 10px;
}

.project-wrapper .project-stacks {
  font-size: 0.85em;
  padding-bottom: 10px;
}

.project-wrapper a {
  color: red;
  margin-right: 10px;
}

/* ============ contact css ============ */
.contact-section {
  padding: 5% 10%;
}