* {
  margin: 0;
  padding: 0;
}

body {

}

html {
  scroll-behavior: smooth;
}

/*  */
#home-section {
  scroll-margin-top: 70px;
  min-height: 880px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.information {
  align-items: center;
  margin: 0 10%;
}

.name-wrapper {
  margin-bottom: 230px;
}

.home-name {
  text-align: center;
  font-family: "Playfair Display SC", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 10em;
}

.home-brief {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 3em;
}

.image-wrapper {
  text-align: center;
}

.home-image {
  /* width: 300px;
  height: 300px; */

  width: 200px;
  height: 200px;
  background-color: white;
  border-radius: 50%;
  justify-content: space-between;
}

/* 반응형 */
@media (max-width: 1840px) {
  .home-name {
    font-size: 8em;
  }
}

@media (max-width: 1440px) {
  #home-section {
    scroll-margin-top: 50px;
    min-height: 700px;
  }
  .name-wrapper {
    margin-bottom: 100px;
  }
}

@media (max-width: 1024px) {
  .home-name {
    font-size: 6em;
  }
}

@media (max-width: 768px) {
  .home-name {
    font-size: 4em;
  }
}

/* home blob start */

@keyframes move {
  from {
    transform: translate(0vw, 0vh) rotate(-90deg);
    border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
  }

  to {
    transform: translate(70vw, 50vh) rotate(-10deg);
    border-radius: 76% 24% 33% 67% / 68% 55% 45% 32%;
  }
}

@keyframes move2 {
  from {
    transform: translate(60vw, 0vh) rotate(10deg);
    border-radius: 76% 24% 33% 67% / 68% 55% 45% 32%;
  }
  to {
    transform: translate(0vw, 0vh) rotate(50deg);
    border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
  }
}

.blob-first,
.blob-second {
  position: absolute;
  width: 500px;
  height: 500px;
  background-blend-mode: normal,normal,normal,normal,normal,normal; 
  filter: blur(45px);
  z-index: -1;
}

.blob-first {
  transition: 0.05s linear;
  animation: move 25s infinite alternate;
  background: linear-gradient(180deg, #EF516D 0%, rgba(239, 81, 109, 0) 100%), radial-gradient(94.51% 124.88% at 94.32% 94.43%, 
  rgba(65, 244, 255, 0.78) 0%, rgba(131, 218, 255, 0.6552) 32.29%, rgba(99, 175, 240, 0.3978) 64.06%, rgba(43, 90, 211, 0) 100%), 
  linear-gradient(313.04deg, #341D65 0.93%, #604AEA 125.68%); 
}

.blob-second {
  transition: 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  animation: move2 25s infinite alternate;
  background: radial-gradient(73.4% 100.98% at 95.54% 95.05%, rgba(255, 156, 65, 0.78) 0%, 
  rgba(255, 168, 88, 0) 100%), linear-gradient(197.37deg, #FFF0A4 -0.38%, 
  rgba(255, 240, 164, 0) 101.89%), radial-gradient(58.85% 73.83% at 9.82% 3.13%, 
  rgba(49, 132, 255, 0.8) 0%, rgba(56, 75, 247, 0.208) 52.16%, rgba(62, 246, 246, 0) 100%), 
  linear-gradient(117.39deg, #3E9EF6 3.91%, rgba(238, 43, 183, 0.33) 37.48%, 
  rgba(246, 62, 106, 0) 73.98%), linear-gradient(306.53deg, #FFAADD 19.83%, rgba(255, 170, 221, 0) 97.33%); 
}

/* home blob end */


/* common section title */
h1 {
  font-size: 3em;
  padding-bottom: 30px;
}

/* navigation */
.navigation-bar {
  background-color: white !important;
}

/* ============ stack section css ============ */
.stack-section {
  padding: 10%;
  /* background-color:#FFF0A4; */
}

/* ============ stack card css ============ */
@media screen {
  @media (max-width: 694px) {
    .stack-container {
      flex-direction: column;
    }
  }
}

.stack-container {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: space-between;
}

.stack-wrapper {
  flex: 1 1 30%;
}

.stack-icon {
  padding-bottom: 20px;
}

.stack-title {
  font-size: 1.5em;
  padding-bottom: 20px;
}

.stack-desc {
  font-size: 1em;
  padding-bottom: 20px;
}

.stack-list-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.stack-chip {
  margin: 0 5px 5px 0 !important;
  background-color: white !important;
  border-style: none !important;

  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */

  span {
    font-family: "Courier Prime", monospace;
    font-weight: 400;
    font-style: normal;
  }
}


/* ============ experience css ============ */
.experience-section {
  padding: 7% 10%;
}

/* timeline */
.experience-timeline {
  /* color: red; */
}


/* timeline card */


/* ============ proejct css ============ */
.project-section {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 7% 10%;
}

.project-container {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: repeat(2, 1fr)
  /* display: flex;
  flex-wrap: wrap;
  gap: 25px;
  padding-top: 5%; */
}

@media screen {
  @media (max-width: 1024px) {
    .project-container {
      display: block;
    }
  }
}

/* project card */
.project-wrapper {
  flex: 1 1 30%;
  padding-bottom: 20px;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.05), 0px 24px 48px rgba(0, 0, 0, 0.12), 1px 3px 8px rgba(0, 0, 0, 0.04);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
}

.project-wrapper:hover {
  background-color: #eed8ee;
  background-image: linear-gradient(25deg, #eed8ee 0%, #eee5e5 100%);

  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.project-wrapper .project-content {
  padding: 20px;
}

.project-wrapper .project-thumb {
  width: 100%;
  /* height: auto; */
  border-radius: 20px;
}

.project-wrapper .project-body {
  padding-top: 20px;
}

.project-body .project-title {
  font-size: 1.8em;
}

.project-body .project-desc {
  font-size: 1.1em;
  padding: 20px 0;
}

.project-body .project-stacks {
  font-size: 0.85em;
}

.project-body .project-links {
  padding-top: 20px;
}

/* ============ contact css ============ */
.contact-section {
  padding: 5% 10%;
}